<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJW60r7xh8sUlEiS-hGgaeiFybH2QWa0I</string>
	<key>GCM_SENDER_ID</key>
	<string>699692984203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.landsystem</string>
	<key>PROJECT_ID</key>
	<string>landregistry-15941</string>
	<key>STORAGE_BUCKET</key>
	<string>landregistry-15941.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699692984203:ios:7b347eb500994f7115b18e</string>
</dict>
</plist>